@CHARSET "UTF-8";
html,body{
	height:100%;
}
#header .wrap{
	background: url(/images/top/bg_header.jpg); 
	height:97px;
	z-index:99999 !important;
}
#info{
	position: absolute; top:15px; right:30px;
}

#info li{
	float:left;
	padding-left:12px;
	line-height: 23px;
}
#info li a{
	font-size:12px;
	color:#000;
}
#nav{
	position:absolute;
	bottom:20px;
	right:30px;
}
#nav li{
	float:left;
}
#nav > li{
	padding-left:33px;
}
#nav li a{
	font-size:15px;
	color:#000;
	font-weight: bold;
}
#nav li.on a, #nav li.selected a{
	color:#ff7f41;
}
#nav li a:hover{
	color:#ff7f41;
}
#nav li .sub_nav img{
	position: absolute;
	top:0;
	right: 0;
	display: none;
	z-index : 10;
}
#nav li.on .sub_nav img{
	display: block;
	z-index: 11;
}
#nav li .sub_nav {
	display: none;
	width:713px;
	height:52px;
	position: absolute;
	top:33px;
	right:0px;
	background: url(/images/top/bg_subMenu.png) no-repeat 0 top;
	z-index: 10
}
#nav li.on .sub_nav{
	display: block;
	z-index: 11;
}
#nav li .sub_nav li {
	padding-left:17px;
	line-height: 52px;
}
#nav li .sub_nav li a{
	font-size:14px;
	color:#000;
	font-weight: normal;
}
#nav li .sub_nav li a:hover{
	color:#ff7f47;
}

#side_nav{
	float:left; 
	width:185px; 
	padding:0; 
	margin-top:23px;
	font-size:0; 
	line-height: 0;
}

#side_nav li{
	height:30px;
	line-height: 30px;
	padding-left:9px;
}
#side_nav li.side_dvs{
	margin:5px 0;
	font-size:15px;
	color:#58c2d5;
	border-bottom:1px solid #58c2d5;
}
#side_nav li a{
	color:#6c6c6c;
	font-size:14px;
}
#side_nav li:hover a, #side_nav li.selected a{
	color:#ff7f41;
	font-weight:bold;
}
#side_nav li img{
	display:none;
	float:right;
	margin-top:8px;
}
#side_nav li.selected img, #side_nav li:hover img{
	display:block;
}
.side_nav{
	margin:0 13px;
}
.side_nav h2{
	font-size:24px; 
	color:#ff7f41; 
	border-bottom:1px solid #ff7f41; 
	padding:0 6px; 
	height:42px; 
	line-height:42px;
}
.side_nav ul{
	padding:15px 0;
}

div.right_wrap{
	float:right; 
	width:724px; 
	margin-right:10px; 
	padding-top:23px;
	position: relative;
	z-index:9;
}

div.right_wrap h2{
	font-size:24px; 
	color:#000; 
	padding-top:20px; 
	padding-bottom:10px;
}

#footer{
	margin-top:60px;
	clear:both;
	border-top:1px solid #e0e0e0
}

#footer li{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 11px;
}
#footer li a{
	color:#484848;
	font-size:13px;
}
#footer li img{
	margin-top:12px;
	padding:0;
}
#footer p{
	font-size:12px;
	color:#676767;
}

.bg_transparent_black{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: url(/images/footer/bg_site_map_back.png) repeat 0 top;
	z-index:999999;
}

.bg_transparent_black .wrap{
	margin-top:62px;
}

#site_map .wrap > div{
	background: url(/images/footer/bg_site_map.jpg) no-repeat 0 top;
	height:478px;
	clear:both;
}
#site_map_nav > li, #site_map .wrap > ul > li{
	float:left;
}

#site_map_nav{
	margin:0 43px;
}

#site_map_nav > li{
	padding-top:20px;
	padding-bottom:10px;
}

#site_map_nav > li > a{
	display: block;
	font-size:15px;
	line-height: 40px;
	text-align: center;
	width:174px;
	border-bottom:1px solid #b8b8b8;
}
#site_map_nav > li.selected > a, #site_map_nav > li > a:hover{
	color:#ff7f41;
	border-bottom:1px solid #ff7f41;
}

.site_map_sub_nav{
	padding-top:15px;
	border-right:1px solid #fff;
	height:140px;
}
.site_map_sub_nav li{
	padding:3px 20px;
}
.site_map_sub_nav li a{
	font-size:14px;
}
.site_map_sub_nav li.selected a, .site_map_sub_nav li a:hover{
	color:#ff7f41;
}

#personal_info_policy .wrap > div{
	clear:both;
	width: 100%;
	height:731px;
	position: relative;
	background-color: #ececec;
	border-top:3px solid #ff7f41;
}

#personal_info_policy_content{
	margin:50px auto 30px auto;
	height:651px;
	width: 868px;
	overflow: auto;

	scrollbar-face-color: #cacaca;
	scrollbar-shadow-color: #cacaca;
	scrollbar-highlight-color: #cacaca;
	scrollbar-3dlight-color: #cacaca;
	scrollbar-darkshadow-color:#cacaca;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: #cacaca;
}

#personal_info_policy .wrap > div h4{
	font-size:15px;
	font-weight: bold;
	color:#ff7f41;
	margin-top:40px;
	line-height: 30px;
}
#personal_info_policy .wrap > div p{
	font-size:13px;
	color:#484848;
	line-height: 23px;
}

#personal_info_policy .wrap > div ul{
	margin-top:25px;
}

#personal_info_policy .wrap > div ul li{
	line-height: 25px;
}
